.container {
  padding: var(--common-body-padding);
  padding-top: 36px;
}
.contentContainer {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contentInner {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}
@media (max-width: 868px) {
  .container {
    padding: var(--common-body-padding-md);
  }
}

@media (max-width: 484px) {
  .container {
    padding: var(--common-body-padding-sm);
  }
}
